{% extends "navbar.html" %}

{% block content %}

    <h1>Regla Falsa</h1>
    <div class="container">
        <div class="form-container">
            <form method="post">
                {% csrf_token %}
                <label for="funcion">Función</label>
                <input type="text" name="funcion" required>

                <label for="a">Extremo a</label>
                <input type="number" name="a" step="any" required>

                <label for="b">Extremo b</label>
                <input type="number" name="b" step="any" required>

                <label for="tol">Tolerancia</label>
                <input type="number" name="tol" step="any" required>

                <label for="max_iter">Iteraciones</label>
                <input type="number" name="max_iter" required>

                <input type="submit" value="Calcular">
            </form>
        </div>

        <div class="result-container">
            {% if datos %}
                <div class="data-container">
                    <h3>Datos Ingresados</h3>
                    <table>
                        <tr>
                            <td>Función:</td>
                            <td>{{ datos.funcion }} <a href="{% url 'grafica' %}">Graficar</td>
                        </tr>
                        <tr>
                            <td>Extremo a:</td>
                            <td>{{ datos.a }}</td>
                        </tr>
                        <tr>
                            <td>Extremo b:</td>
                            <td>{{ datos.b }}</td>
                        </tr>
                        <tr>
                            <td>Tolerancia:</td>
                            <td>{{ datos.tol }}</td>
                        </tr>
                        <tr>
                            <td>Iteraciones:</td>
                            <td>{{ datos.max_iter }}</td>
                        </tr>
                    </table>
                </div>
            {% endif %}

            {% if mensaje %}
                <div class="message">
                    <h1>Resultados del Método de Regla Falsa</h1>
                    {{ mensaje }} <br>
                    {% if tabla %}
                        <div>
                            {{ tabla|safe }}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
