<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regla Falsa</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>


 <body>
    <h1>Regla Falsa</h1>
    <form method="post">
        {% csrf_token %}
        Función: <input type="text" name="funcion" required><br>
        Extremo a: <input type="number" name="a" step="any" required><br>
        Extremo b: <input type="number" name="b" step="any" required><br>
        Tolerancia: <input type="number" name="tol" step="any" required><br>
        Máx. Iteraciones: <input type="number" name="max_iter" required><br>
        <input type="submit" value="Calcular">
    </form>
</body>

<body>
    {% if datos %}
    <h3>Datos Ingresados</h3>
    {% for clave, valor in datos.items %}
            <li><strong>{{ clave }}:</strong> {{ valor }}</li>
        {% endfor %}
    {% endif %}       
</body>
</html>
