<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jacobi</title>
</head>
<body>
    <h2>Jacobi</h2>

    {% if matriz.ndim > 0 %}
    <h2>Matriz A:</h2>
    <table border="1">
        {% for row in matriz %}
        <tr>
            {% for value in row %}
            <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    {% if b.ndim > 0 %}
    <h2>Vector b:</h2>
    <table border="1">
        {% for value in b %}
        <tr>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    {% if x0.ndim > 0%}
    <h2>Vector x0 generado:</h2>
    <table border="1">
        {% for value in x0 %}
        <tr>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    {% if mensaje %}
        <h1>Resultados del Método de Jacobi</h1>
        {{ mensaje }}<br><br>
        Radio espectral: {{ radio }}
        {% if tabla %}
            <div>
                {{ tabla|safe }}
            </div>
        {% endif %}
    {% endif %}

</body>
</html>
