{% extends "navbar.html" %}

{% block content %}

    <h1>Jacobi</h1>

    {% if matriz.ndim > 0 %}
    <div class="container">
        <h3>A</h3>
        <table>
            {% for row in matriz %}
            <tr>
                {% for value in row %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}

    {% if b.ndim > 0 %}
    <div class="container">
        <h3>b</h3>
        <table>
            {% for value in b %}
            <tr>
                <td>{{ value }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}

    {% if x0.ndim > 0 %}
    <div class="container">
        <h3>x<sub>0</sub></h3>
        <table>
            {% for value in x0 %}
            <tr>
                <td>{{ value }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}

    {% if mensaje %}
        <div class="result-container">
            <h1>Resultados del Método de Jacobi</h1>
            <p class="message">{{ mensaje }}</p>
            <p>Radio espectral: {{ radio }}</p>
            {% if tabla %}
                <div class="result-container">
                    {{ tabla|safe }}
                </div>
            {% endif %}
        </div>
    {% endif %}

{% endblock %}
