<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lagrange</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/resultados.css' %}">
</head>
<body>
    <div class="container">
        <h1>Lagrange</h1>
        <div class="data-container">
            <form method="post" class="data-form">
                {% csrf_token %}
                <label for="punto">Puntos (x, y)</label><br>
                <input type="text" id="punto" name="punto" placeholder="Ejemplo: (0,0)"><br><br>
                                
                <input type="submit" value="Guardar">
            </form>
        </div>

        {% if coordenadas %}
        <div class="result-container">
            <h2>Puntos Ingresados</h2>
            <table>
                <tr>
                    <th>Coordenada X</th>
                    <th>Coordenada Y</th>
                </tr>
                {% for x, y in coordenadas %}
                <tr>
                    <td>{{ x }}</td>
                    <td>{{ y }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}

        {% if resultado %}
        <div class="result-container">
            <h2>Coeficientes del Polinomio</h2>
            {% for coeficiente in resultado %}
                {{ coeficiente }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
            </p>
        </div>
        {% endif %}
    </div>
</body>
</html>
