<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Spline</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/resultados.css' %}">
</head>
<body>
    <div class="container">
        <h1>Spline</h1>
        <div class="data-container">
            <form method="post" class="data-form">
                {% csrf_token %}
                <label for="punto">Puntos (x, y)</label><br>
                <input type="text" id="punto" name="punto" placeholder="Ejemplo: (0,0)"><br><br>
                
                <label for="grado">Grado:</label>
                <input type="number" name="grado" placeholder="1, 2 o 3"><br><br>
                
                <input type="submit" value="Guardar">
            </form>
        </div>

        {% if coordenadas %}
        <div class="result-container">
            <h2>Puntos Ingresados</h2>
            <table>
                <tr>
                    <th>Coordenada X</th>
                    <th>Coordenada Y</th>
                </tr>
                {% for x, y in coordenadas %}
                <tr>
                    <td>{{ x }}</td>
                    <td>{{ y }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}

        <div class="result-container">
            {% if datos %}
            {% for polinomio, intervalo in datos %}
                <table>
                    <tr>
                        <th>Polinomio</th>
                        <th>Intervalo</th>
                    </tr>
                    <tr>
                        <td>{{ polinomio }}</td>
                        <td>{{ intervalo.0 }} &le; x &le; {{ intervalo.1 }}</td>
                    </tr>
                </table>
            {% endfor %}
            <a href="{% url 'grafica' %}">Graficar
            {% endif %}

            
        </div>
    </div>
</body>
</html>
