{% extends "navbar.html" %}

{% block content %}

    <div class="container">
        <h1>Vandermonde</h1>
        <div class="data-container">
            <form method="post" class="data-form">
                {% csrf_token %}
                <label for="punto">Puntos (x, y)</label><br>
                <input type="text" id="punto" name="punto" placeholder="Ejemplo: (0,0)"><br><br>
                <input type="submit" value="Guardar">
            </form>
        </div>

        {% if coordenadas %}
        <div class="result-container">
            <h2>Tabla de Puntos Ingresados</h2>
            <table>
                <tr>
                    <th>Coordenada X</th>
                    <th>Coordenada Y</th>
                </tr>
                {% for x, y in coordenadas %}
                <tr>
                    <td>{{ x }}</td>
                    <td>{{ y }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endif %}

        <br>

        {% if resultado %}
        <div class="result-container">
            <h2>Polinomio de Interpolación</h2>
            {{ resultado }}

            <br>
            <br>
            <a href="{% url 'grafica' %}">Graficar
        </div>
        {% endif %}
    </div>

{% endblock %}
