/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Estilos para los botones de radio */
.radio-container {
    display: inline-block;
    margin-right: 10px; /* Ajusta el espacio entre los botones */
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    display: inline-block; /* Asegura que las etiquetas estén en la misma línea */
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}

input[type="radio"]:checked + label {
    background-color: #007bff;
    color: #fff;
}

/* Estilos para el formulario */
form {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="number"] {
    width: calc(100% - 22px); /* ajustado el ancho del input */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: calc(100% - 22px); /* ajustado el ancho del botón */
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
